*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}
/*elementi del nav*/
nav{
    padding: 10px;
}

nav .container{
    display: flex;
    
    background-color: #DAA520;
   
}

nav .container > * {
    border: dashed 3px black; 
    padding: 10px;

}



.logo{
    width: 100px;
    

}

.lista{
    flex-grow: 1;
}

.lista ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

.login{
    width: 100px;
    text-align: right;
   

}
/*fine elementi nav*/

/*inizio stilizzazione corpo della pagina*/

section{
    padding: 40px 20px;
}

#primo{
    background-color: #00008B;
   
}


#primo .small-box{
   
    height: 300px;
}

.small-box{
    background-color: #EE82EE;
    max-width: 800px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}


.row{
    display: flex;

}

.grey{
    background-color: #D3D3D3;
}


.big-boxes{

    flex-grow: 1;
    background-color: #1E90FF;
    height: 400px;
    border: dashed 2px black;
}

.small-boxes{

    background-color: #FFC0CB;
    height: 400px;
    border: dashed 2px black;
    width: 400px;

}

.grey .big-boxgreen{
    border: dashed black 4px;
    background-color: #228B22;
    height: 600px;
    width: 1000px;
}

/*fine stilizzazione*/