*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}
/*elementi del nav*/
nav{
    background-color: #ADD8E6;
    padding: 10px;
}

nav .container{
    display: flex;
    
    background-color: #DAA520;
   
}

nav .container > * {
    border: dashed 3px black; 
    padding: 10px;

}



.logo{
    width: 100px;
    

}

.lista{
    flex-grow: 1;
}

.lista ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

.login{
    width: 100px;
    text-align: right;
   

}
/*fine elementi nav*/

/*inizio stilizzazione corpo della pagina*/

section{
    padding: 40px 20px;
}

#primo{
    background-color: #00008B;
   
}


#primo .small-box{
   
    height: 300px;
}

.small-box{
    border: dashed black 2px;
    background-color: #EE82EE;
    max-width: 800px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}


.row{
    display: flex;

}

.grey{
    background-color: #D3D3D3;
}


.big-boxes{

    flex-grow: 1;
    background-color: #1E90FF;
    height: 400px;
    border: dashed 2px black;
}

.small-boxes{

    background-color: #FFC0CB;
    height: 400px;
    border: dashed 2px black;
    width: 400px;

}

.grey .big-boxgreen{
    border: dashed black 4px;
    background-color: #228B22;
    height: 600px;
    width: 1000px;
}

/*fine stilizzazione*/

/*footer inizio*/

footer{
    background-color: #23272A;

    padding: 10px;
}

footer .conainer > * {
    border: dashed 4px white;
}

footer #top-side{
    margin-bottom: 30px;

}

footer #top-side .footer-links{
    background-color: #F08080;
    height: 500px;
    width: 260px;

}

footer #top-side .colonne {
    background-color: #20B2AA;
    border: dashed white 2px;

    flex-grow: 1;
}

footer #btm{

    margin-top: 16px;
    background-color: #7FFFD4;
}

footer #btm {
    justify-content: space-between;
    padding: 14px 0;


}

footer #btm > * {
    background-color:#FFB6C1;
    border: dashed black 3px;

    padding: 4px 10px;

}

/*fine footer*/